html, body{
    width: 100%;
    font-family: 'Roboto' !important;
}

.topo{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo{
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    cursor: pointer;
}

.pagina{
    width: 100%;
    display: flex;
    justify-content: center;
}

.delimitador{
    width: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzesCriados{
    width: 100%;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 77px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.quizzesCriados p:nth-child(1) {
    width: 250px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
    margin-bottom: 12px;
}

.criarQuizz{
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    color: #EC362D;
    font-size: 21px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.criarQuizz:hover{
    background: #EC362D;
    color: #FAFAFA;
}

.quizzesLista{
    width: 100%;
    margin-top: 77px;
}

.quizzesLista p{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    
}

.quizzes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quizz{
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    margin: 6px 7.5px;
    background-size: cover;
    position: relative;
    cursor: pointer;
}



.quizz p {
    left: 20px;
    bottom: 20px;
    position: absolute;
    color: #FFFFFF;
}

.hidden{
    display: none !important;
}

.icon{
    color: #EC362D;
    width: 31px;
    height: 30px;
    margin-left: 4px;
    cursor: pointer;
}

.quizzesLista div {
    display: flex;
}

.escondido{
    display: none;
}
.userQuizzes div > p{
    padding-top: 4px;
}

.header{
    padding-top: 70px;
}

.imagemQuiz{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 227px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quizTitle{
    margin-left: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
}

.perguntas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.pergunta{
    width: 760px;
    height: 676px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 20px;
    position: relative;
}

.opcoesAgrupadas{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}


.perguntaTexto{
    width: 100%;
    height: 137.99px;
    background: #434CA0;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    top: 0px;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.opcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.opcoes div{
    width: 330px;
    height: 175px;
    padding-left: 10px;
    cursor: pointer;
}

.errado{
    color: red !important;
}

.certo{
    color: green !important;
}

.naoSelecionada{
    opacity: 0.3 !important;
}

.imgResposta{
    width: 100%;
    height: 100%;
}

.textoResp{
    max-width: 27ch;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.imgLevel{
    width: 70%;
    height: 70%;
}

.result{
    width: 364px;
    height: 273px;
    display: flex;
    justify-content: center;
}

.resultLevel div:nth-child(1){
    margin-bottom: 20px;
}

.textoResult{
    max-width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.nomeQuiz{
    max-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resultLevel{
    padding-top: 138px;
}

.botao{
    width: 260.38px;
    height: 52px;
    border-radius: 15px;
}

.reinicio{
    background: #EC362D;
    cursor: pointer;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFF5F4;
    border: none;
}

.resultAgrupado{
    display: flex;
    margin-top: 20px;

}

.backHome{
    background: none;
    color:#818181;
    border: none;
    cursor: pointer;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
}

.botoes{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}



@media (max-width: 900px){
    .pergunta{
        width: 100%;
        
    }

    .opcoes{
        width: 100%;
        padding-left: 10px;
        cursor: pointer;
    }

    .opcoes div{
        width: 45%;
        height: 30%;
        
    }

    .imgLevel{
        width: 100%;
        height: 100%;
    }
    
    .result{
        width: 50%;
        height: 50%;
        display: flex;
    }

    .textoResult{
        margin-left: 10%;
    }

    .resultLevel{
       padding-top: 138px;
       height: fit-content;
       min-height: 450px;
    }

    .botoes{
        position: absolute;
        bottom: 10px;
    }
}